section#hero.d-flex.align-items-center
    .container(data-aos-delay="100" data-aos="zoom-out")
        .social-links.text-left.text-md-left.pt-0.pt-md-0
            a.linkedin(href="https://www.linkedin.com/company/control-origins" rel="noopener noreferrer" target="_blank" title="ControlOrigins LinkedIn")
                i.bx.bxl-linkedin
        h1(style="font-size: x-large;") Value Creation Through Best Practices
        p(style="color:white;font-size: larger;").
            Control Origins is dedicated to the delivery of high quality,
            value add technology solutions. Our teams leverage world class technology and best practice frameworks to implement business processes
            that closely align regulatory requirements, industry standards and business strategies.
    .bottom
        span
        | Photo by
        a(href="https://unsplash.com/@mikofilm?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank" ) Mike Kononov
        | on
        a(href="https://unsplash.com/s/photos/security?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank") Unsplash
