section#hero.d-flex.align-items-center
  .container(data-aos-delay="100" data-aos="zoom-out")
    .social-links.text-left.text-md-left.pt-0.pt-md-0
      a.linkedin(href="https://www.linkedin.com/company/control-origins" rel="noopener noreferrer nofollow" target="_blank" title="Control Origins LinkedIn - Business Technology Solutions")
        i.bx.bxl-linkedin
    h1(style="font-size: x-large;") Unleash the Power of Control for Your Business Technology Solutions
    p(style="color:white;font-size: larger;").
      At Control Origins, our mission is to empower organizations with innovative technology solutions that drive value creation
      and enable them to achieve their business goals. We are committed to delivering exceptional results by leveraging cutting-edge
      Microsoft Azure, ASP.NET, and cloud technologies, industry expertise, and best practice frameworks like COSO, COBIT, and ITIL.
      Through our comprehensive approach, we help businesses streamline their operations, ensure regulatory compliance (SOX, HIPAA, PCI),
      and stay ahead in today's rapidly evolving digital landscape.
  .bottom
    span
    | Photo by
    a(href="https://unsplash.com/@mikofilm?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank" rel="noopener noreferrer nofollow"
) Mike Kononov
  | on
  a(href="https://unsplash.com/s/photos/security?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank" rel="noopener noreferrer nofollow"
) Unsplash
