extends layouts/layout

block pagehead
  title Control Origins
  meta(name='description', content='Control Origins')
  meta(name='author', content='Mark Hazleton')
  link(rel='canonical', href='https://controlorigins.com')

block layout-content

  include modules/hero.pug
  include modules/portfolio.pug
  include modules/opportunity.pug
  include modules/approach.pug
  include modules/solutions.pug
  include modules/models.pug

