block variables
doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

    block pagehead

    // Favicons
    link( rel="icon" href="assets/img/favicon.ico")
    link( rel="apple-touch-icon" href="assets/img/apple-touch-icon.png")
    // Google Fonts
    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i")
    // Vendor CSS Files
    link( rel="stylesheet" href="assets/css/vendor.css" )
    // Template Main CSS File
    link(rel="stylesheet" href="assets/css/style.css")
    // Global site tag (gtag.js) - Google Analytics
    script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-1T7N4ZN4W0')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-1T7N4ZN4W0');

    // Clarity tracking code for //controlorigins.com/
    script.
      (function(c,l,a,r,i,t,y){c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};t=l.createElement(r);t.async=1;t.src="//www.clarity.ms/tag/"+i;y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);})(window, document, "clarity", "script", "4me1k8d6vt");

  body#page-top
    // ======= Header =======
    header#header.fixed-top
      .container.d-flex.align-items-center
        .logo.mr-auto
          a.logo.mr-auto(href="/")
            img(
              alt="Control Origins"
              src="/assets/img/favicon-32x32.png"
              )
            | Control
            span Origins
        nav.nav-menu.d-none.d-lg-block
          ul
            li
              a(href="/#portfolio") Portfolio
            li
              a(href="/#opportunity") Opportunity
            li
              a(href="/#approach") Approach
            li
              a(href="/#solution-tabs") Solutions
        // .nav-menu
    // End Header
    main#main
    // Page Content
    .container-fluid.p-0
        block layout-content

    include page-footer.pug

